@media (max-width: 1200px) {

* {
  box-sizing:border-box;
}

body{
  -webkit-text-size-adjust: 100%;
}


.box1 {
  /* background-color:red; */
  width:100%;
  height:500px;
  /* background-image: url(file:///Users/shunki/Desktop/MyPortforio/ホームページ写真/21.jpg); */
  background-image: url('./21.JPG');
  background-size:cover;
  color:white;
  text-align:center;
}

.box1 h1 {
  padding-top:150px;
  font-size:100px;
}

  /* ここからメニュー */

  .bar {
    width:150px;
    height:120px;
    top:20px;
    left:810px;
    position:absolute;
    position:fixed;
    display:block;
    z-index:12;
    opacity:0.9;
  }

  .menu {
    background-color:#ffa500;
    width:480px;
    height:750px;
    top:15px;
    left:483px;
    position:absolute;
    border:2px solid black;
    opacity:0.9;
    position:fixed;
    z-index:15;
    display:none;
    border-radius:10px;
  }


  
  .menu li {
    list-style:none;
    padding:20px 45px;
    font-size:40px;
    color:black;
  }

  .batsu {
    width:120px;
    height:120px;
    top:10px;
    left:330px;
    position:absolute;
  }



  /* ここまでメニュー */

header {
  background-color:#800000;
  width:100%;
  height:60px;
}

header ul {
  width:2000px;
  display:none;    
}

header li {
  float:left;
  list-style:none;
  padding:18px 45px;
  font-size:15px;
  color:white;
  display:none;    
}

.box2 h2 {
  font-size:70px;
  padding-top:15px;
  padding:15px 0px 20px 0px;
}

.box2 p {
  font-size:40px;  
  padding-top:20px;
  padding-bottom:20px;
  padding-left:0px;
  line-height:50px;
}

.box2 {
  /* background-color:pink; */
  background-color:#ffebcd;
  width:100%;
  height:1500px;
  text-align:center;
  position:relative;
}

.box2-one {
  /* background-color:green; */
  background-color:#ffebcd;
  width:100%;
  height:500px;
}


.box2-two {
  /* background-color:red; */
  background-color:#ffebcd;
  width:100%;
  height:500px;
}

.treasure {
  width:800px;
  height:500px;
  border:3px solid black;
  /* position:absolute; */
  /* z-index:3; */
  background-color:white;
  /* top:60px;
  left:750px; */
  margin:0 auto;
  display:block;
}

/* ここから画像 */

.ukurere_black {
  width:220px;
  height:220px;
  position:absolute; 
  z-index:3;
  top:800px;
  left:100px;
}

.racket_black {
  width:200px;
  height:200px;
  position:absolute; 
  z-index:3;
  top:800px;
  left:280px;
}

.ball_black {
  width:40px;
  height:40px;
  position:absolute; 
  z-index:3;
  top:820px;
  left:280px;
}

.fuki_black {
  width:240px;
  height:240px;
  position:absolute; 
  z-index:3;
  top:780px;
  left:420px;
}

.tsuma_black {
  width:240px;
  height:240px;
  position:absolute; 
  z-index:3;
  top:800px;
  left:650px;
}

.cup_black {
  width:210px;
  height:210px;
  position:absolute; 
  z-index:3;
  top:1050px;
  left:100px;
}

.inageya_black {
  width:220px;
  height:220px;
  position:absolute; 
  z-index:3;
  top:920px;
  left:200px;
}

.nabe_black {
  width:220px;
  height:220px;
  position:absolute; 
  z-index:3;
  top:1050px;
  left:300px;
}

.glass_black {
  width:200px;
  height:200px;
  position:absolute; 
  z-index:3;
  top:1020px;
  left:500px;
}

.ami_black {
  width:220px;
  height:220px;
  position:absolute; 
  z-index:3;
  top:900px;
  left:550px;
}

.roller_black {
  width:190px;
  height:190px;
  position:absolute; 
  z-index:3;
  top:1070px;
  left:680px;
}

/* ここまで画像 */



footer {
  background-color:#ffa500;
  width:100%;
  height:700px;
}

footer img {
  float:left;
  margin:20px 30px;
  width:100px;
  height:100px;
}

.info p {
  margin:2px 15px;
  font-size:40px;
}

.info .name {
  font-size:80px;
  margin:0px 20px;
}


















}
